
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="form1" name="form1" method="post" action="">
    <div align="center">
      <table width="355" height="253" border="1">
        
        <tr>
          <th scope="row"><a href="/manageshedule">DOCTOR SHEDULE MANAGE</a></th>
        </tr>
        <tr>
          <th scope="row"><a href="/addshedule">ADD DOCTOR SHEDULE </a></th>
        </tr>
        <tr>
          <th scope="row"><a href="/viewpatientbookingdetails">VIEW PATIENT BOOKING DETAILS</a></th>
        </tr>
      <tr>
          <th scope="row"><a href="/changepassword">CHANGE PASSWORD</a></th>
        </tr>
         <tr>
          <th scope="row"><a href="/">LOGOUT</a></th>
        </tr>
      </table>
      <p>
        <label>
        </label>
      </p>
    </div>
  </form>
  </body>
</html>


