<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/editmedicine1">
  <div align="center">
    <table width="403" height="266" border="1">
      <tr>
        <th scope="row">MEDICINE NAME </th>
        <td><label>
          <input type="text" name="textfield" value="{{id.medicine2}}"/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">USAGE</th>
        <td><label>
          <input type="text" name="textfield2" value="{{id.usage}}" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">DISCRIPTION</th>
        <td><label>
          <input type="text" name="textarea" value="{{id.discription}}" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">PRICE</th>
        <td><label>
          <input type="text" name="textfield4" value="{{id.price}}" />
        </label></td>
      </tr>
      </table>  
  </div>
  <p align="center">
    <label>
    <input type="submit" name="Submit" value="UPDATE" />
    </label>
  </p>
</form>
</body>
</html>
