<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="335" height="272" border="1">
      <tr>
        <th scope="col">FROM-TIME</th>
        <th scope="col">TO-TIME</th>
        <th scope="col">DAY</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in data %}
      <tr>
        <td>&nbsp;{{i.fromtime}}</td>
        <td>{{i.totime}}&nbsp;</td>
        <td>&nbsp;{{i.day}}</td>
        <td><p><a href="{% url 'updatetime' id=i.id %}">EDIT</a></p>
        <p><a href="{% url 'deleteshedule' id=i.id %}">DELETE</a></p></td>
      </tr>
      {% endfor %}
      </table>
  </div>
</form>
</body>
</html>
