{% extends 'indexsign.html' %}
{% block body %}
<body>
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<div align="center">-->
    <!--<table width="475" height="254" border="1">-->
      <!--<tr>-->
        <!--<th colspan="2" scope="row"><label>-->
         <!--<a href="doctorsregister">DOCTORS</a></label></th>-->
      <!--</tr>-->
      <!---->
      <!--<tr>-->
        <!--<th colspan="2" scope="row"><label>-->
         <!--<a href="patientregister">PATIENTS</a></label></th>-->
      <!--</tr>-->
      <!---->
      <!---->
      <!--<tr>-->
        <!--<th colspan="2" scope="row"><label>-->
         <!--<a href="staffregister">STAFF</a></label></th>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</form>-->
<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-secondary text-white">
                <span class="mai"></span>
              </div>
              <p><a href="doctorsregister"><span>DOCTOR</span> REGISTRATION</a></p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-primary text-white">
                <span class="mai"></span>
              </div>
              <p><a href="patientregister"><span>PATIENT</span> REGISTRATION</a></p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-accent text-white">
                <span class="mai"></span>
              </div>
              <p><a href="staffregister"><span>STAFF</span> REGISTRATION</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
{% endblock %}
