<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <th scope="col">PATIENTS</th>
        <th scope="col">DOCTOR</th>
        <th scope="col">DATE</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in data %}
      {% if i.status == 'pending' %}
      <tr>
        <td>{{i.sid.did.fname}}{{i.sid.did.lname}}</td>
        <td>{{i.userid.fname}}{{i.userid.lname}}</td>
        <td>{{i.date}}&nbsp;</td>
        <td><p><a href="{% url 'accept' id=i.id %}">ACCEPT</a></p>
        <p><a href="{% url 'reject' id=i.id %}">REJECT</a></p></td>=
      </tr>
      {% endif %}
      {% endfor %}
      </table>
  </div>
</form>
</body>
</html>
